# You can use this api-key for tests
LLM_API_KEY=sk-10b5f5bc7e5e46768d33916eef0556cc
LLM_BASE_URL=https://api.deepseek.com
LLM_MODEL=deepseek-flash

SERVER_HOST=0.0.0.0
SERVER_PORT=8765

DATABASE_PATH=database/game.db
